@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .menu-button {
        @apply mb-2 md:mb-0 uppercase mx-1 shadow-sm h-8 px-3 font-semibold border border-black rounded;
    }

    .active-button {
        @apply bg-black text-white;
    }
}

.ProseMirror {
    @apply py-2 px-3 focus:outline-none;
    max-height: 60vh;
    overflow-y: auto;
}

.ProseMirror h1, h2 {
    @apply font-semibold;
}

.ProseMirror h1 {
    @apply text-2xl mb-4;
}

.ProseMirror h2 {
    @apply text-xl mb-2;
}

.ProseMirror p {
    @apply mb-1;
}

.ProseMirror ul {
    list-style-type: disc;
    padding: revert;
}

.ProseMirror a {
    text-decoration: underline;
}